
body {
    background-image: url("../img/6.jpg");
}
.form-style-8{
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: rgba(255,255,255,0.5);
    margin: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

input[type=text], input[type=password] {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.admin h4{
    text-align: right;

}